#skills{
    background: #202020;
    padding: 50px 0;
    padding-top: 80px;
    font-family: 'Ubuntu' sans-serif;
    margin: 40px auto;
    
}

.skills .max_width .title{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;
} 



.skills .max_width .title::before{
    content: '';
    position: absolute;
    bottom: 0px; 
    width: 180px;
    height: 3px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);

}

.skills .max_width .title::after{
    content: ' what i know';
    position: absolute;
    bottom: -12px; 
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #202020;
    left: 50%;
    transform: translateX(-50%);

}

.skills_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

