 

.skill_card{
    
    width: 360px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
    margin-bottom: 50px;
    background: url("../../assets//backend.jpg");
    
}

.skill_card .skill_front{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    
    
    transform: rotateY(0deg);
    transition: 0.5s;
}

.skill_card:hover .skill_front{
    transform: rotateY(-180deg);
}

.skill_card:hover .progress{   
    animation: animate 1s ease-in-out forwards;
    

}


.skill_card .skill_front h2{
    color: white;
    text-align: center;
    padding-top: 20px;   
}

.skill_card .skill_front .skill_content{
    width: fit-content;
    margin-top: 30px;
    padding: 0px 45px;
    
}

.skill_content .skill_item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill_item p{
    padding-left: 20px;
    font-size: 18px;
    color: white;
}

.skill_card .skill_back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.skill_card:hover .skill_back{
    transform: rotateY(0deg);
}

.skill_card .skill_back .skill_detail{
    position: absolute;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
    z-index: 99;
}

.skill_card .skill_back .skill_detail h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}

.skill_card .skill_back .skill_detail h2 span{
    color: #a7a7a7;
    font-size: 16px;
}

.social_icons{
    margin-top: 20px;
    padding: 10px 0px;
    
    
}

.social_icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
    padding-top: 5px;
    margin-left: 5px;
    
}

.social_icons a:hover{
    background: crimson;
    
}

.skill_back:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    border-right: none;
    background:#5e5d5d1a;
}

.end_line{
    margin: 40px auto; 
    width: 80px;
    height: 2px;
    background-color: crimson;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0 rgba(255, 255, 255, 1);
}



@media (max-width: 412px){

    .skill_card{
        width: 290px;
    }
}