.home{
    display: flex;
    background: url('../../assets/reyh_pic.jpg');
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Itim', cursive;
    z-index:888;
}

.max_width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.home .max_width{
    margin: auto 0 auto 40px;
    position: relative;
}

.text_1{
    font-size:27px;  
    position: relative; 
    width: fit-content;
    
}

.text_1::before{
    content: '';
    height: 100%;
    /* width: 100%; */
    position: absolute;
    right: 0%;
    background: crimson;
    /* background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%); */
    animation: animate1 2.5s ;
    
}

@keyframes animate1{
    0%{
        width: 100%;
    }
    70%{
        width: 10%; 
    }
    100%{
        width: 0%;
    }
}

.text_2{
    font-size: 70px;
    font-weight: 700;    
    position: relative;
}


.text_2::before{
    content: ' ';
    height: 100%;
    width: 120%;
    position: absolute;
    right: 0%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 2.5s linear forwards;
    animation-delay: 2.5s;
}

@keyframes animate{
    0%{
        width: 120%;
    }
    100% {
        width: 0%;
    }
}

.text_3{
    font-size: 36px;
    margin: 5px 0;
    display: flex;  
    position: relative;  
}

.text_3::before{
    content: ' ';
    height: 100%;
    width: 120%;
    position: absolute;
    right: 0%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 3.5s linear forwards;
    animation-delay: 5s;
}

.text_3 span{
    color: crimson;
    
}

.home_content a{
    display: inline-block;
    background-color: crimson;
    color: #fff;
    font-size: 25px;
    padding: 8px 20px;
    margin-top: 20px;
    border: 2px solid crimson;
    border-radius: 5px;
    transition: all 0.3s ease ;

}

.home_content a:hover{
    color: crimson;
    background: none;
}



@media (max-width: 1104px){
    .home .max_width{
        margin-left: 0px;
    }
}

@media (max-width: 990px){
    .home .max_width{
        padding: 0px 50px;
    }
}

@media (max-width: 690px){
    .home .max_width{
        padding: 0px 23px;
    }

    .text_2{
        font-size: 60px;
    }
    .text_3{
        font-size: 32px;
    }
    .home_content a{
        font-size: 18px;
        padding: 8px 18px;
    }
}

@media (max-width: 550px){

    .text_2{
        font-size: 50px;
    }
    .text_3{
        font-size: 28px;
    }
    .home_content a{
        font-size: 16px;
        padding: 6px 16px;
    }
}

@media (max-width: 400px){

    .text_2{
        font-size: 40px;
    }
    .text_3{
        font-size: 22px;
    }

    .home_content a{
        font-size: 15px;
        padding: 6px 14px;
    }
}

