.expandable_card{
    position: relative;
    width: 320px;
    height: 220px;
    background: #fff;
    margin: 30px 10px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    border-radius: 0px 0px 10px 10px;
}

.expandable_card:hover{
    height: 420px;
}
.expandable_card .imgBox{
    position: relative;
    width: 270px;
    height: 270px;
    top: -60px;
    z-index: 1;
}

.expandable_card .imgBox img{
   max-width: 100%;
   border-radius: 5px;
}

.project_heading{
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(217, 222, 228);
}

.expandable_card .card_content{
    position: relative;
    margin-top: -70px;
    padding: 20px 0px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
    
}

.expandable_card:hover .card_content{
    margin-top: -70px;
    visibility: visible;
    opacity: 1;
    height: fit-content;
    transition: all 0.2s ease-in;
    transition-delay: 0.2s;
   
}

.project_link{
    margin-top: 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
}

.project_link > li{
    list-style: none;
    display: inline-block;
    min-width: 120px;
    color: white;
    height: 30px;
    border-radius: 10px; 
    border: 3px solid crimson;
    background: crimson;
    font-weight: bold;
    transition: all 0.3s ease-in;
}

.project_link > li:hover{
    background: transparent;
    color: rgb(212, 41, 76);
    cursor: pointer;
}



/* .expandable_card .card_content .project_desc{
    visibility: hidde-n;
    opacity: 0;
}


.expandable_card:hover .card_content .project_desc{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
    color: black;
    
} */
