*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
  font-family: 'Itim', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

/* @font-face{
  src: url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  font-family: 'Itim', cursive;
} */

.max_width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}


@media (max-width: 1104px){
  .max_width{
      margin-left: 0px;
  }
}



@media (max-width: 990px){
  .max_width{
      padding: 0px 50px;
      margin: auto;
  }


.column_left{
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  width: 100%;
}

.column_right{
  flex: 100%;
    
  }


}

@media (max-width: 690px){
  .max_width{
      padding: 0px 23px;
  }
}